* {
    font-family: sans-serif;
}

h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: 50;
}

#scores {
color: rgb(192, 121, 192)
}


#time {
    float: right;
    margin-right: 50px;
}